<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageplaza" translate="label" sortOrder="1">
            <label>mageplaza</label>
        </tab>
        <section id="betterslider" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Better Slider</label>
            <tab>mageplaza</tab>
            <resource>Mageplaza_BetterSlider::betterslider</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>

                <field id="enable" translate="label comment" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Read <a href="https://mageplaza.freshdesk.com/support/solutions/articles/6000132393-user-guide-magento-2-banner-slider" target="_blank">User Guide</a> <br>
                     <a href="https://mageplaza.freshdesk.com/support/discussions/6000061601" target="_blank">Discussions</a> <br>
                     ]]></comment>
                </field>
            </group>



        </section>
    </system>
</config>
