#banner-slider-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    bottom: 0;
    display: inline-block;
    zoom: 1;
    margin: 0;
    width: 50px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    font-size: .9em;
    border-radius: 3px;
    color: #FFF;
    background: #000;
    opacity: .6;
    text-transform: capitalize;
}

#banner-slider-carousel .owl-nav .owl-prev {
    left: 5px;
}

#banner-slider-carousel .owl-nav .owl-next {
    right: 5px;
}

#banner-slider-carousel .item-video {
    height: 340px;
}